{% load static %}
 
<section>
    <div class="container">
       <div class="row">
          <div class="col-md-6 col-md-push-3">
             <h4 class="text-gray mt-0 pt-5">Code</h4>
             <form name="login-form" class="clearfix" method = "POST" action="{% url 'account:two_factor' %}" >
               {% csrf_token %}
                <div class="row">
                   <div class="form-group col-md-12">
                      <label for="form_username_email">Code</label>
                      <input id="form_username_email" name="codes" class="form-control" type="number">
                   </div>
                </div>
               
                
               
              
                <div class="clear text-center pt-10">
                   <button type="submit" class="btn btn-dark btn-lg btn-block no-border mt-15 mb-15" href="#" data-bg-color="#3b5998">Submit</button>
          
                </div>
             </form>
          </div>
       </div>
    </div>
 </section>