{% load static %}

  <header id="header" class="header">
    <div class="header-top bg-theme-colored sm-text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="widget no-border m-0">
              <ul class="styled-icons icon-dark icon-theme-colored icon-sm sm-text-center">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-9">
            <div class="widget no-border m-0">
              <ul class="list-inline pull-right flip sm-pull-none sm-text-center mt-5">
                <li class="m-0 pl-10 pr-10"> <i class="fa fa-help text-white"></i> <a class="text-white" href="#">Help</a> </li>
               
           
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-nav">
      <div class="header-nav-wrapper navbar-scrolltofixed bg-lightest">
        <div class="container">
          <nav id="menuzord-right" class="menuzord blue bg-lightest">
            <a class="menuzord-brand pull-left flip" href="javascript:void(0)">
              <h1 style ="font-size:10px;">SECURE WEB-BASED  ARV PATIENT <br> SERVICE CARE SYSTEM </h1> 
            </a>
            <div id="side-panel-trigger" class="side-panel-trigger"><a href="#"><i class="fa fa-bars font-24 text-gray"></i></a></div>
            <ul class="menuzord-menu">
              <li class="active"><a href="/">Home</a>
               
              </li>
              <li><a href="{% url 'mainapp:clinic_list' %}">Clinics</a>
                
              </li>
              {% if request.user.is_authenticated %}
              <li><a href="{% url 'mainapp:all_clinics_requested' %}">Requested Clinics</a>

              {% endif %}

              {% if request.user.is_authenticated %}
              <li><a href="{% url 'mainapp:view_accepted_request' %}">Accepted Requested Clinics</a>

              {% endif %}
               
              </li>    
              {% if request.user.is_authenticated %}       
              <li><a href="{% url 'account:profile' %}">Account</a>

              {% endif %}
              
              </li>
           
              {% if request.user.is_authenticated %}

              <li><a href="{% url "account:logout" %}">Logout</a>

              {% else %}
              <li><a href="{% url "account:sign_in" %}">Login</a>


              {% endif %}
              
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>